html {
    background-color: #ffffff;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #b6f5fe;
}

header {
    text-align: center;
    padding-top: 10px;
    background-image: url(IMG_1615.JPG);
    background-size: cover;
    background-position: center;
}

header h1 {
    color: #ffffff;
}

.about {
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}



.flex-item {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 5px;
    margin: 20px;
}

.flex-item h3{
    text-align: center;
}



footer {
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .flex-item {
        width: 40%;
    }
}
